
.quick-filter {
  width: 20rem;
  background-color: white;
  border: 1px solid black;
  text-align: start;
  font-weight: normal;
}


@media (max-width: 40rem) {
  .quick-filter {
    --offset: 5px;
    top: var(--offset);
    left: var(--offset);
    width: calc(100vw - 2 * var(--offset));
  }
}

@media (prefers-color-scheme: dark) {
  .quick-filter {
    background-color: rgb(50, 50, 50);
    color: lightgrey;
  }
  .quick-filter {
    border: 1px solid lightgrey;
  }
}


.quick-filter.closed {
  display: none;
}

.quick-filter .filter-values {
  padding: 0;
  margin: 0;
}

.quick-filter .filter-values li {
  list-style-type: none;
}

.quick-filter .filter-by-value {
  max-height: 10em;
  width: calc(100% - .4em);
  overflow: auto;
}

.quick-filter > .heading, .quick-filter > fieldset {
  margin: .25em;
}

.quick-filter .heading .title, .quick-filter .heading .controls {
  display: inline-block;
  width: 50%;
}

.quick-filter input[type="button"],
.quick-filter input[type="radio"],
.quick-filter input[type="checkbox"],
.quick-filter .radio-label,
.quick-filter .check-label {
  cursor: pointer;
}

.quick-filter .heading .controls {
  text-align: right;
}

.quick-filter .heading .title {
  font-weight: bold;
  font-size: 1.5em;
}

.quick-filter .filter-value-item.filtered {
  display: none;
}

.quick-filter .sort-direction-controls, .quick-filter .sort-position, .quick-filter .text-filter-type-set {
  margin-bottom: .5em;
}

.quick-filter .sort-position label,
.quick-filter .sort-position input,
.quick-filter .filter-by-text-field label,
.quick-filter .filter-by-text-field input {
  display: inline-block;
}


.quick-filter .sort-position label,
.quick-filter .filter-by-text-field label {
  width: 30%;
}

.quick-filter .sort-position input,
.quick-filter .filter-by-text-field input {
  width: 70%;
  box-sizing: border-box;
}

.quick-filter .filter-by-value {
  margin: .5em .15em 0 .15em;
  border: 1px solid lightgrey;
}

.quick-filter fieldset {
  margin: .15em;
}

